<div class = "block-wrapper">
  <div class = "container">
    <div class="row">
      <ul class="tab-movies-line nav nav-tabs">
        <li class="active">
          <a>All payment</a>
        </li>
      </ul>
      <%= render partial: "payment", collection: @payments %>
    </div>
  </div>
</div>
