@import 'color';

.block-wrapper {
  margin: 30px 0;
}

.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  margin: 0 0 20px 0;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb > .active {
  color: $gray-b;
}

.upper-text {
  text-transform: uppercase!important;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: $gray-a;
  font-family: 'FontAwesome';
  font-weight: 400;
  line-height: 1;
  content: '\f105';
}

.col-md-8 .detail-feature{
  width: 150%;
}

.detail-feature {
  clear: both;
  min-height: 0;
  box-sizing: border-box;
  margin: 0;
}

.detail-feature article {
  clear: both;
  background-color: $white;
  box-sizing: border-box;
}

.detail-feature .detail-feat-img {
  display: block;
  float: left;
  width: 100%;
}

.detail-feature .detail-feat-img img {
  display: block;
  float: right;
  border: none;
  width: 100%;
}

.details .detail-title {
  font-size: 26px;
  color: $gray-b;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 34px;
}

.details .detail-rating {
  margin: 15px 0;
}

.details .detail-info {
  font-size: 15px;
}

.details .detail-info .detail-info-row {
  margin-bottom: 10px;
  line-height: 20px;
}

.details .detail-info .detail-info-right {
  color: $gray-b;
  text-transform: capitalize;
}

.detail-description {
  font-size: 14px;
  line-height: 20px;
  margin: 15px -15px 30px -15px;
}

.rating-movie .rating-bt .btn-primary {
  color: $white;
  background-color: $orange;
  border-color: $orange;
  text-transform: uppercase;
}

.rating-movie .btn {
  border-radius: 1px;
}

.rating-movie .rating-bt {
  padding: 3px 0 0 10px;
  float: left;
}

.rating-movie .rating-value {
  margin-bottom: -2px;
  white-space: nowrap;
}

.rating-movie .rating-user {
  float: left;
  padding: 8px 0 0 10px;
}

.btn.primary {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white;
  background-color: $orange;
  padding: 15px;
  text-decoration: none;
  line-height: 1;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.btn {
  border-radius: 0;
}

.content-text {
  text-align: justify;
  font-size: 15px;
}

.content-text * {
  font-family: 'Roboto', sans-serif !important;
}

section {
  margin: 10px 0;
}

auto-folded .shadow {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.38) 26%, white 68%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.38) 26%, white 68%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.38) 26%, white 68%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  height: 1.5em;
}

auto-folded .auto-folded.auto-folded--folded {
  overflow: hidden;
}

auto-folded .auto-folded {
  display: none;
  position: relative;
}

.content-text p {
  margin-bottom: 15px;
}

auto-folded .auto-folded.auto-folded--folded ~ .auto-folded--more {
  display: block;
}

auto-folded .auto-folded ~ .auto-folded--more {
  display: none;
  position: absolute;
  left: 15px;
  bottom: -20px;
}

.content-text h3, .content-text h4, .content-text h5, .content-text h6 {
  font-weight: 600;
}

h3:after {
  display: block;
  width: 50px;
  height: 2px;
  margin-top: 8px;
  content: '';
  background-color: $orange;
}

.star-rating{
  color: yellow;
  width: 30px;
}

.description{
  max-height: 200px;
  display: block;
}
.tab-movies-line li > a {
  border: none;
  color: #a0a3a7;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}
.tab-movies-line .tab-content {
  background-color: #ffffff;
  border: 0;
  padding: 15px 0;
}

.payment-cinema .col-md-3{
  float: none;
  display: flex;
}
