$white: #ffffff;
$white-b: #f9f9f9;
$white-c: #f1f1f1;
$white-d: #dfdfdf;
$white-e: #dbdee1;
$DDD: #DDD;
$gray-b: #43464b;
$gray-c: #ced0da;
$gray-a: #a0a3a7;
$gray-d: #969b9f;
$black-a: rgba(0, 0, 0, 0.7);
$orange: #f26b38;
$orange-c: #e26435;
$orange-b: #47251c;
$orange-d: #4c4145;
$red-n: #ff0033;
$cinema-select: #7dc71d;
$cinema-unavailable: #0cbfca;
