<div id="list-show-time">
  <% cinemas.each do |cinema, rooms| %>
    <div class="cinema-block">
      <div class = "title-cinema">
        <h5><%= cinema.name %></h5>
      </div>
      <div class="item-cinema">
        <label><%= t("text.sub") %></label>
        <div class="showtime-block">
          <%= render partial: "bookings/show_time_for_cinema", locals: {show_times: show_times, cinema: cinema} %>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
